<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/create-novel.css}"/>
    <link rel="stylesheet" th:href="@{/css/create-novel-media.css}"/>
    <link rel="stylesheet" th:href="@{/css/head.css}">
    <link rel="stylesheet" th:href="@{/css/head-media.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/maxcdn-bootstrap.css}">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" th:href="@{/css/filter_multi_select.css}"/>
    <title>Создание новеллы|НОВЕЛЛЭНД</title>
</head>
<body>
<div>
    <nav class="mobile">
        <div class="logo col-11">
            <img class="icon" th:src="@{/svg/logo.svg}" alt="">
            <a class="main-text" href="/">НОВЕЛЛЭНД</a>
        </div>
        <div class="list col-1">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">Профиль</a>
                <a href="/sign-in">Выход</a>
            </div>
            <div class="symbol" onclick="openNav()">&#9776;</div>
        </div>
    </nav>
    <nav class="head">
        <div class="logo col-8">
            <img class="icon" th:src="@{/svg/logo.svg}" alt="">
            <a class="main-text" href="/">НОВЕЛЛЭНД</a>
        </div>
        <div class="list col-4">
            <a class="prof" href="#">Профиль</a>
            <a href="/sign-in">Выход</a>
        </div>
    </nav>
</div>
<div class="container">
<div class="form-box">
<form action="" method="post">
    <div class="inputbox">
        <input type="text" id="novelName" name="name" required>
        <label for="novelName">Название новеллы</label>
    </div>
    <label for="genres">Жанры</label>
    <select class="filter-multi-select" id="genres" name="genres" multiple required>
        <option th:each="genre : ${allGenres}" th:value="${genre.getId()}" th:text="${genre.getName()}">
            <input type="checkbox" name="${genre.getName()}" id="${genre.getId()}">
        </option>
    </select>
    <div class="inputbox">
        <input type="text" id="novelDescription" name="description" required>
        <label for="novelDescription">Описание</label>
    </div>
    <button class="create-novel" type="submit">Создать новеллу</button>
</form>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script th:src="@{/js/filter-multi-select-bundle.min.js}"></script>
<script th:src="@{/js/menu.js}"></script>
</body>
</html>