<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/filter_multi_select.css}"/>
    <link rel="stylesheet" th:href="@{/css/create-novel.css}"/>
    <title>Создание новеллы|НОВЕЛЛЭНД</title>
</head>
<body>
<div class="container">
<div class="form-box">
<form action="" method="post">
    <label for="novelName">Название новеллы:</label>
    <input type="text" id="novelName" name="name" required>
    <br><br>
    <!--    https://demo.mobiscroll.com/javascript/select/multiple-select потом посмотреть-->
    <label for="genres">Жанры:</label>
    <input type="text" style="display:none;" id="gCheck" required>
    <select class="filter-multi-select" id="genres" name="genres" multiple required>
        <option th:each="genre : ${allGenres}" th:value="${genre.getId()}" th:text="${genre.getName()}">
            <input type="checkbox" name="${genre.getName()}" id="${genre.getId()}">
        </option>
    </select>
    <div class="error" id="error"><a>Жанр не выбран!</a></div>
    <br><br>
    <label for="novelDescription">Описание:</label>
    <input type="text" id="novelDescription" name="description" required>
    <br><br>
    <input type="submit" value="Создать новеллу">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/js/filter-multi-select-bundle.min.js}"></script>
</form>
</div>
</div>
<script th:src="@{/js/select-genres.js}"></script>
</body>
</html>