<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/edit-novel-node.css}"/>
  <link rel="stylesheet" th:href="@{/css/edit-novel-node-media.css}"/>
  <link rel="stylesheet" th:href="@{/css/head.css}">
  <link rel="stylesheet" th:href="@{/css/head-media.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <title>Изменение сцены|НОВЕЛЛЭНД</title>
</head>
<body>
<div>
  <nav class="mobile">
    <div class="logo col-11">
      <img class="icon" th:src="@{/svg/logo.svg}" alt="">
      <a class="main-text" href="/">НОВЕЛЛЭНД</a>
    </div>
    <div class="list col-1">
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Профиль</a>
        <a href="/sign-in">Выход</a>
      </div>
      <div class="symbol" onclick="openNav()">&#9776;</div>
    </div>
  </nav>
  <nav class="head">
    <div class="logo col-8">
      <img class="icon" th:src="@{/svg/logo.svg}" alt="">
      <a class="main-text" href="/">НОВЕЛЛЭНД</a>
    </div>
    <div class="list col-4">
      <a class="prof" href="#">Профиль</a>
      <a href="/sign-in">Выход</a>
    </div>
  </nav>
</div>
<div class="container">
<div class="form-box" id="myForm">
<form action="" method="post" enctype="multipart/form-data">
  <div class="inputbox">
    <label for="novelName">Название сцены</label>
    <input type="text" id="novelName" name="name" required th:value="${novelNode.getName()}">
  </div>

  <div class="inputbox">
    <label for="content">Контент сцены</label>
    <input type="text" id="content" name="content" required th:value="${novelNode.getContent()}">
  </div>


  <div id="options">
    <div id="addMoreOption" style="cursor: pointer">Добавить выбор</div>
  </div>

  <label for="backgroundImage">Фоновая картинка</label>
    <div class="inputbox-img">
      <input type="file" id="backgroundImage" name="backgroundImage" accept="image/png, image/jpeg">
    <img th:if="${novelNode.backgroundImage != null}" th:src="'http://localhost:8080/image/' + ${novelNode.backgroundImage.getId()}" alt="bi">
    <img th:if="${novelNode.backgroundImage == null}" th:src="@{/img/default_background.png}" alt="backgroundImage">
  </div>

    <label for="characterImage">Картинка персонажа</label>
    <div class="inputbox-img">
      <input type="file" id="characterImage" name="characterImage" accept="image/png, image/jpeg">
      <img th:if="${novelNode.characterImage != null}" th:src="'http://localhost:8080/image/' + ${novelNode.characterImage.getId()}" alt="ci">
    </div>


  <input class="save-btn" type="submit" name="save" value="Сохранить сцену">
  <input th:if="${!novelNode.isStart()}" type="submit" name="delete" value="Удалить сцену">
</form>
</div>
</div>
<script th:src="@{/js/menu.js}"></script>
<script>
  /*<![CDATA[*/
  let optionsDiv = document.getElementById('options');
  let addMoreOption = document.getElementById('addMoreOption');
  let childrenNovelNodes = JSON.parse('[[${childrenNovelNodesJson}]]'.replace(/&quot;/g, '\"'));
  let novelNode = JSON.parse('[[${novelNodeJson}]]'.replace(/&quot;/g, '\"'));
  let selectedChildrenIds = JSON.parse('[[${selectedChildrenIdsJson}]]'.replace(/&quot;/g, '\"'));

  addMoreOption.addEventListener('click', function (event) {
    optionsDiv.appendChild(createOptionDiv(null, ''));
  });

  function init() {
    novelNode.options.forEach(el => {
      optionsDiv.appendChild(createOptionDiv(el.id, el.value));
    });
  }

  function removeOptionDiv(event) {
    let optionDiv = event.target.parentNode;
    if (optionsDiv.children.length > 2) {
      optionsDiv.removeChild(optionDiv);
    }
  }

  function createOptionDiv(optionId, optionValue) {
    let optionDiv = document.createElement('div');
    optionDiv.classList.add("option-div");
    let selectDiv = document.createElement('div');
    selectDiv.classList.add("select-div");
    let deleteDiv = document.createElement('div');
    deleteDiv.classList.add("delete-div");
    let valueInput = document.createElement('input');
    valueInput.classList.add("value-input");
    let childSelect = document.createElement('select');
    childSelect.classList.add("child-select");
    let hiddenInput = document.createElement('input');
    childSelect.setAttribute('id','child-selectId');
    let childLabel = document.createElement('label');
    childLabel.classList.add("child-label");
    childLabel.htmlFor = 'child-selectId';

    deleteDiv.onclick = removeOptionDiv;
    deleteDiv.style.cssText = 'cursor: pointer;';
    deleteDiv.textContent = 'Убрать выбор';

    if (optionId != null) {
      hiddenInput.type = 'hidden';
      hiddenInput.name='optionIds[]';
      hiddenInput.value=optionId;
    }

    valueInput.type = 'text';
    valueInput.name='optionValues[]';
    valueInput.value=optionValue;
    valueInput.required = true;

    childLabel.textContent = 'Выбор следующей сцены';

    childSelect.name = 'childrenIds[]';

    let defaultChild = document.createElement('option');
    defaultChild.value = '-1';
    defaultChild.text = 'Выбрать ...';
    childSelect.appendChild(defaultChild);

    for (let i = 0; i < childrenNovelNodes.length; i++) {
      let childOption = document.createElement('option');
      childOption.value = childrenNovelNodes[i].id;
      childOption.text = childrenNovelNodes[i].name;
      childSelect.appendChild(childOption);
      if (optionId != null) {
        if (selectedChildrenIds.find(el => (el.first == optionId && el.second == childrenNovelNodes[i].id)) != undefined) {
          childOption.selected = true;
        }
      }
    }

    selectDiv.appendChild(childLabel);
    selectDiv.appendChild(childSelect);
    optionDiv.appendChild(deleteDiv);
    if (optionId != null) {
      optionDiv.appendChild(hiddenInput);
    }
    optionDiv.appendChild(valueInput);
    optionDiv.appendChild(selectDiv);
    return optionDiv;
  }

  init();
  /*]]>*/
</script>
</body>
</html>