<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/edit-novel.css}"/>
    <link rel="stylesheet" th:href="@{/css/edit-novel-media.css}"/>
    <link rel="stylesheet" th:href="@{/css/head.css}">
    <link rel="stylesheet" th:href="@{/css/head-media.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/maxcdn-bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/filter_multi_select.css}"/>
    <title>Изменение новеллы|НОВЕЛЛЭНД</title>
</head>
<body>
<div>
    <nav class="mobile">
        <div class="logo col-11">
            <img class="icon" th:src="@{/svg/logo2.svg}" alt="">
            <a class="main-text" href="/">НОВЕЛЛЭНД</a>
        </div>
        <div class="list col-1">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">Профиль</a>
                <a href="/sign-in">Выход</a>
            </div>
            <div class="symbol" onclick="openNav()">&#9776;</div>
        </div>
    </nav>
    <nav class="head">
        <div class="logo col-8">
            <img class="icon" th:src="@{/svg/logo2.svg}" alt="">
            <a class="main-text" href="/">НОВЕЛЛЭНД</a>
        </div>
        <div class="list col-4">
            <a class="prof" href="#">Профиль</a>
            <a href="/sign-in">Выход</a>
        </div>
    </nav>
</div>
<div class="form-container">
    <div id="myOpen" class="hide-form opn">
        <a class="change-novel" onclick="openForm()">Изменить новеллу &#10064;</a>
    </div>
    <div id="myClose" class="hide-form cls">
        <a class="change-novel" onclick="closeForm()">Закрыть форму &#9866;</a>
    </div>
<div class="form-box" id="myForm">
<form action="" method="post" enctype="multipart/form-data">
    <div class="inputbox">
        <input type="text" id="novelName" name="name" required th:value="${novel.getName()}">
        <label for="novelName">Название новеллы:</label>
    </div>

    <label for="genres">Жанры</label>
    <select class="filter-multi-select" id="genres" name="genres" multiple required>
        <option th:each="genre : ${allGenres}" th:value="${genre.getId()}" th:text="${genre.getName()}" th:selected="${novel.getGenres().contains(genre)}">
            <input type="checkbox" name="${genre.getName()}" id="${genre.getId()}">
        </option>
    </select>

    <div class="inputbox">
        <input type="text" id="novelDescription" name="description" required th:value="${novel.getDescription()}">
        <label for="novelDescription">Описание:</label>
    </div>

    <label for="previewImage">Обложка</label>
    <div class="inputbox-img">
        <input type="file" id="previewImage" name="previewImage" accept="image/png, image/jpeg">
        <img th:if="${novel.previewImage != null}" th:src="'http://localhost:8080/image/' + ${novel.previewImage.getId()}" alt="pi">
        <img th:if="${novel.previewImage == null}" th:src="@{/img/default_preview.png}" alt="previewImage">
    </div>

<div class="buttons">
    <button class="btn-n" type="submit" name="save">Сохранить</button>
    <button class="btn-n" type="submit" name="delete">Удалить</button>
</div>
</form>
</div>

    <form action="" method="post">
        <button class="add-scene" type="submit" name="add">&#9547; Добавить сцену</button>
    </form>
</div>
<div id="novelDiv" style="border: 1px solid black; width: 100%; height: 500px; position: relative; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);"></div>
<script th:src="@{/js/go.js}"></script>
<script th:src="@{/js/HyperlinkText.js}"></script>
<script>
    /*<![CDATA[*/
    var nodeDataArray = JSON.parse('[[${nodeDataArrayJson}]]'.replace(/&quot;/g, '\"'));
    var linkDataArray = JSON.parse('[[${linkDataArrayJson}]]'.replace(/&quot;/g, '\"'));
    /*]]>*/
</script>
<script th:src="@{/js/generateDiagram.js}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script th:src="@{/js/filter-multi-select-bundle.min.js}"></script>
<script th:src="@{/js/menu.js}"></script>
<script th:src="@{/js/hide-form.js}"></script>
</body>
</html>