<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/sign.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/sign-up-media.css}">
    <title>Регистрация|НОВЕЛЛЭНД</title>
</head>
<body>
    <div class="container">
     <div class="main col-12">
         <div class="logo">
            <img class="icon" th:src="@{/svg/logo2.svg}" alt="">
         </div>
        <div class="form-box">
            <form action="" method="post">
                <h2>РЕГИСТРАЦИЯ</h2>
                <div class="inputbox">
                    <input type="email" id="email" name="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="inputbox">
                    <input type="text" id="username" name="username" required>
                    <label for="username">Имя пользователя</label>
                </div>
                <div class="inputbox">
                    <input type="password" id="password" name="password" required>
                    <label for="password">Пароль</label>
                </div>
                <div class="inputbox">
                    <input type="password" id="repeatPassword" name="repeatPassword" required>
                    <label for="repeatPassword">Повторите пароль</label>
                </div>
                <button type="submit">Зарегистрироваться</button>
                <div class="info">
                    <a href="/sign-in">Войти</a>
                </div>
            </form>
        </div>
         <div class="vector">
             <img class="vector1" th:src="@{/svg/Vector1.svg}" alt="">
         </div>
         <div class="vector">
             <img class="vector2" th:src="@{/svg/Vector2.svg}" alt="">
         </div>
     </div>
        <div class="error" th:if="${error} == 'email_exists'"><a>Указанная почта уже используется</a></div>
        <div class="error" th:if="${error} == 'username_exists'"><a>Указанное имя пользователя уже существует</a></div>
        <div class="error" th:if="${error} == 'password_mismatch'"><a>Пароли не совпадают</a></div>
    </div>
</body>
</html>