.container{
  display: flex;
  flex-direction: column;
  align-items: center;

  }
.form-box{
  width:fit-content;
  height: fit-content;
  position: relative;
  border: 1.5px solid #CABBE9;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding: 5%;
  font-size: 1.1em;
}
.prof{
margin-left:auto;
}
.inputbox{
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px;
}
.inputbox label{
  position: absolute;
  top: -30%;
  left: 5px;
  transform: translateY(-50%);
  color: #181818;
  pointer-events: none;
}
.inputbox input{
  width:500px;
  outline: none;
  background: #FDFDFD;
  border: 1px solid #CABBE9;
  border-radius: 15px;
  padding-left: 2%;
}
.create-novel{
  width:fit-content;
  position: relative;
  background: linear-gradient(180deg, #A1EAFB 0%, #CABBE9 100%);
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  color: #FFFFFF;
  padding: 0 5%;
}
label:after{
  content: " *";
  color: #e9573f;
}
.genres{

}