.form-container{
  margin-left: 3%;
  margin-bottom: 1%;
  }
.form-box{
  width:fit-content;
  height: fit-content;
  position: relative;
  border: 1.5px solid #CABBE9;
  border-radius: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  padding: 3%;
  font-size: 1.1em;
}
.prof{
margin-left:auto;
}
.inputbox{
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px;
}
.inputbox label{
  position: absolute;
  top: -30%;
  left: 5px;
  transform: translateY(-50%);
  color: #181818;
  pointer-events: none;
}
.inputbox input{
  width:500px;
  outline: none;
  background: #FDFDFD;
  border: 1px solid #CABBE9;
  border-radius: 15px;
  padding-left: 2%;
}
.btn-n{
  width:fit-content;
  position: relative;
  background: linear-gradient(180deg, #A1EAFB 0%, #CABBE9 100%);
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  color: #FFFFFF;
  padding: 0 2%;
  margin: auto;
  margin-top: 1%;
}
.buttons{

     display: flex;
     align-items: center;
     margin: auto;
}
.hide-form a{
color: #000;

}
.hide-form.cls{
display:none;
margin-top: 1%;
}
.hide-form.cls a{
padding: 0;
color: #787878;
cursor: pointer;
font-weight: normal;
}
.hide-form.opn{
display:flex;
margin-top: 1%;
}
.hide-form.opn a{
padding: 0;
color: #787878;
cursor: pointer;
font-weight: normal;
}